/*Estilos para la pagina de Cafe*/

/*Selector Unitario*/

*{
    padding: 0;
    margin: 0;
 }
 
 /*Selector de etiqueta*/
 body{
     background-color:rgb(210, 195, 239);
     color: white;
 }
 /*selector de clase*/
 
 .img{
     height: 150px;
     border-radius: 1px;
     margin-left: 5px;
     margin-right: 5px;
 
 }
 
 .texto {
     text-align: justify;
     font-family:Arial, Helvetica, sans-serif;
     font-size: 15px;
     padding: 5px 10px;
     color: white;    
 }
 .texto2 {
     text-align: left;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 30px;
     padding: 5px 10px;
     color: white;
 }
 
 .texto3{
     text-align: left;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     padding: 5px 10px;
     color: white;
 }
 .texto4{
     text-align: justify;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     padding: 5px 15px;
     color: white;
 }
 
 .encabezado-articulo {
     padding: 5%;
     text-align: center;
     background-color:white; 
     color: #362f2f(255,255,255);
 
 }
 
 .encabezado-aside{
     padding: 15%;
     text-align: center;
     background-color: darkslateblue;
     color: white;
     margin: 1em 2em;
 }
 
 .barraNavegacion-aside{
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     padding: 0 15px;
 }
 
 .lista-aside{
     padding: 10px;
 }
 
 .lista-aside li{
     display: flex;
     text-align: left;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     padding: 0 2px;
     list-style: square;
     color: #b46424; 
 }
 /*selector ID*/
 #contenedor{
     width: 900px;
     height: 1200px;
     background-color:#362f2f;
     max-width: 0 auto;
     border-radius: 5px; /* seccion del fondo*/
 }
 
 #encabezado{
     height: 15%;
     font-family:monospace;
     font-size: 18px;    
     background-color:black;
     margin: 1em;
     padding: 0 50px;
     border-radius: 5px ;
     display: flex;   /*bases para poder centrar*/
     justify-content: center;
     align-items: center;
 }
 
 #barraNavegacion {
     height: 5%;
     background-color:rgb(210, 195, 239);
     margin: 1em;
     border-radius: 5px;
 }
 
 #contenido{
     height: 76%;
     width: 58%;
     background-color: black;
     margin: 0.5em;
     display: inline-block;
     border-radius: 5px;
     text-align: justify; /*fondo*/
 }
 
 #fueraSeccion{
     width: 35%;
     height: 70%;
     background-color: darkslateblue;
     margin: 0.5em;
     display: inline-block;
     vertical-align: top;
     border-radius: 5px;
 }
 #pieNavegacion {
     height: 10%;
     background-color:black;
     text-align: center;
     padding: 5px;
 }
 #pieNavegacion h4{
     padding: 15px;
     font-size: 30px;
 }
 
 /*Selector de etiqueta*/
 ul{
     padding: 15px;
     font-size: 16px;
     text-align: justify;
     list-style-type: disc;
 }

 
 li{
     display: inline;
     padding: 10px 30px;
     margin: 1em;
     
 }
 /*Selector de evento*/
 li a:hover {
     color:whitesmoke;
     text-decoration: none;
     list-style: none;
 }